{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="bg-light p-3">
    <h1>Votre panier</h1>
</div>
<div class="container">
    {% if items | length >0 %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Modèle</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% for taille in item.sneaker.taille %}

                <tr>
            <td>
                <div class="media">
                    <img src="{{ asset(item.sneaker.path) }}" class="mr-3" style="width :80px ; height: 80px" alt="...">
                    <br>
                    {{ item.sneaker.titre }} (Taille : EUR{{ taille.taille }})</div></td>
            <td><br>{{ item.sneaker.modele }}</td>
            <td><br>{{ item.quantity }}</td>
            <td><br>{{ item.sneaker.prix}} €</td>
            <td>
                <a  class="btn btn-danger btn-sm" href="{{ path('cart_remove',{'idSneaker' : item.sneaker.id,'idTaille' : taille.id}) }}"><i class="fa fa-trash"></i></a>
            </td>

        </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
        <dl class="dl-horizontal pull-right">
            <dt>Total:</dt>
            <dd>{{ total }} €</dd>
        </dl>
        <div class="clearfix"></div>
        {% if app.user %}
        <a href="{{ path('billing_adresses')}}" class="btn btn-success pull-right">Continuer</a>
            {% else %}
                <a href="{{ path('login')}}" class="btn btn-success pull-right">Payer</a>
        {% endif %}

        <a href="{{ path('chaussures') }}" class="btn btn-primary">Continuer mes achats</a>
        </div>


    {% else %}
    <p style="text-align: center;margin-top: 20%"> Panier vide</p>
    {% endif %}
{% endblock %}
