{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example1 {
            height: 58px;
            overflow: hidden;
            position: relative;
        }
        .example1 h3 {
            font-size: large;
            position: absolute;
            width: 100%;
            line-height: 50px;
            text-align: center;
            /* Starting position */
            -moz-transform:translateX(100%);
            -webkit-transform:translateX(100%);
            transform:translateX(100%);
            /* Apply animation to this element */
            -moz-animation: example1 15s linear infinite;
            -webkit-animation: example1 15s linear infinite;
            animation: example1 15s linear infinite;
        }
        /* Move it (define the animation) */
        @-moz-keyframes example1 {
            0%   { -moz-transform: translateX(100%); }
            100% { -moz-transform: translateX(-100%); }
        }
        @-webkit-keyframes example1 {
            0%   { -webkit-transform: translateX(100%); }
            100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes example1 {
            0%   {
                -moz-transform: translateX(100%); /* Firefox bug fix */
                -webkit-transform: translateX(100%); /* Firefox bug fix */
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%); /* Firefox bug fix */
                -webkit-transform: translateX(-100%); /* Firefox bug fix */
                transform: translateX(-100%);
            }
        }
    </style>
    <body STYLE="font-family: 'Staatliches', cursive; letter-spacing: 1px">
            <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
            <nav class="nav" style="justify-content: center;margin-bottom: 10px">
                <a style="color: black" class="nav-link" href="{{ path('chaussures') }}">chaussures</a>
            </nav>
            <div class="example1" style="background: #F5F5F5;transition-duration: 1000ms">
                <h3> Livraison gratuite à partir de 100€ d'achat </h3>

            </div>
        <div class="jumbotron" style="margin-left: 50px;margin-right: 50px;height: 700px;border: none;border-radius:0;background-image: url('https://images.unsplash.com/photo-1552346053-c33aa8b3d665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');">
            <p style="font-size: xx-large;color: white"> nouvelle sortie : </p>

            <p style="font-size: xx-large;color: white"> AIR JORDAN ONE <p>
        </div>
        <div class="container" style="max-width: 1600px;margin-top: 100px">
            <h1>NOUVEAUTéS</h1>
            <hr style="background: black">
            <div class="row">
                {% for sneaker in sneakers %}
                <div class="col-4">
                    <div class="card" style=" border : none">
                        <a href="{{ path('chaussure_detail',{'id' : sneaker.id}) }}" style="text-decoration: none; color: black">
                            <img src="{{ asset(sneaker.imageName) }}" style="height: 500px; width:500px;" alt="...">
                            <div class="card-body">
                                <p class="card-title" style="font-size: medium">{{ sneaker.titre }}</p>
                                <span style="color : grey"> Chaussures pour Homme </span>
                                <p class="card-text" style="color: grey"><b>{{ sneaker.prix }}€</b></p>
                            </div>
                        </a>

                    </div>
                </div>
                {% endfor %}
                </div>

            <h1 STYLE="margin-top: 100px">TENDANCES</h1>
            <hr style="background: black">
            <div class="row">
                {% for sneaker in sneakers %}
                    <div class="col-4">
                        <div class="card" style=" border : none">
                            <a href="" style="text-decoration: none; color: black">
                                <img src="{{ asset(sneaker.imageName) }}" style="height: 500px; width:500px;" alt="...">
                                <div class="card-body">
                                    <p class="card-title" style="font-size: medium">{{ sneaker.titre }}</p>
                                    <span style="color : grey"> Chaussures pour Homme </span>
                                    <p class="card-text" style="color: grey"><b>{{ sneaker.prix }}€</b></p>
                                </div>
                            </a>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </body>
{% endblock %}