{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example1 {
            height: 58px;
            overflow: hidden;
            position: relative;
        }
        .example1 h3 {
            font-size: large;
            position: absolute;
            width: 100%;
            line-height: 50px;
            text-align: center;
            /* Starting position */
            -moz-transform:translateX(100%);
            -webkit-transform:translateX(100%);
            transform:translateX(100%);
            /* Apply animation to this element */
            -moz-animation: example1 15s linear infinite;
            -webkit-animation: example1 15s linear infinite;
            animation: example1 15s linear infinite;
        }
        /* Move it (define the animation) */
        @-moz-keyframes example1 {
            0%   { -moz-transform: translateX(100%); }
            100% { -moz-transform: translateX(-100%); }
        }
        @-webkit-keyframes example1 {
            0%   { -webkit-transform: translateX(100%); }
            100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes example1 {
            0%   {
                -moz-transform: translateX(100%); /* Firefox bug fix */
                -webkit-transform: translateX(100%); /* Firefox bug fix */
                transform: translateX(100%);
            }
            100% {ç
                -moz-transform: translateX(-100%); /* Firefox bug fix */
                -webkit-transform: translateX(-100%); /* Firefox bug fix */
                transform: translateX(-100%);
            }
        }
    </style>
    <div class="example1" style="background: #F5F5F5;transition-duration: 1000ms">
        <h3> Livraison gratuite à partir de 100€ d'achat </h3>

    </div>
    <div class="jumbotron" style="background: white">
        <p style="font-family: 'Permanent Marker', cursive;text-align: center;font-size: xx-large;position: absolute;margin-left: 900px">SNEAK'ADDICT</p>
    </div>
    <h3 STYLE="margin-left: 30px">Chaussures pour tous</h3>
    <div class="dropdown" style="float: right;margin-right: 100px">
        <button style="outline: none;border: none;color: black;background: transparent" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trier par
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Prix croissant</a>
            <a class="dropdown-item" href="#">Prix décroissant</a>
        </div>
    </div>
    <div class="row">
        <nav class="col-md-200 d-none d-md-block bg sidebar"  style="position: absolute; ; margin-top: 50px; margin-left: 20px">
            <div class="sidebar-sticky" style="width: 200px;height: 1200px">
                <ul class="nav flex-column" style="margin-left: 10px">
                    <li class="nav-item">
                        <p style="text-align: center">Taille</p><hr>
                        {% for taille in tailles %}
                            <a href="{{ path('chaussures_search_taille', {'taille' : taille.taille}) }}"> <button style="width: 58px; height: 28px; background-color: white;border-radius:5px; border: 1px solid grey; margin-right: 2px" >{{ taille.taille }}</button></a>

                        {% endfor %}



                    </li>

                    <li class="nav-item" style="margin-top: 50px">
                        <hr>
                        <p style="text-align: center">Coupe</p>

                        <ul style="text-align: left; list-style: none; margin-left: 35px">
                            <li><button style="background-color: white; border: 1px solid black; border-radius: 5px">Low</button></li>
                            <br>
                            <li><button style="background-color: white; border: 1px solid black; border-radius: 5px">Mid</button></li>
                            <br>
                            <li><button style="background-color: white; border: 1px solid black; border-radius: 5px">High</button></li>
                        </ul>

                    </li>
                    <br>


                    <li class="nav-item" style="margin-left: 10px; text-align: center" >

                        <hr>
                        <p style="text-align: center; margin-top: 10px">Couleur</p>
                        {% for color in couleurs %}

                    <li style="text-align: center">
                        <br>
                        <a href="{{ path('chaussure_color_search', {'color' : color.color}) }}" style="text-decoration: none; color: black">
                            <div class="dot-color" style="background-color: {{ color.color }} ; width: 20px; height: 20px; border-radius: 10px;border: 2px solid black;position:absolute; margin-left: 50px"></div>
                            <b>  {{ color.color | capitalize }}</b></a>
                    </li>
                    {% endfor %}
                    <br>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container" style="max-width: 1600px; margin-right: 50px">

        <div class="row" style="margin-top: 50px" >
            {% for chaussure in chaussures %}
                <div class="col-4">
                    <div class="card" style=" border : none">
                        <a href="{{ path('chaussure_detail', {'id' : chaussure.id }) }}" style="text-decoration: none; color: black">
                            <img src="{{ asset(chaussure.imageName) }}" style="height: 500px; width:500px;" alt="...">
                            <div class="card-body">
                                <p class="card-title" style="font-size: medium">{{ chaussure.titre }} <b style="float: right">{{chaussure.prix}}€</b></p>
                                <span style="color : grey"> Chaussures pour Homme </span>
                                {% if chaussure.colors | length == 0  %}
                                <p class="card-text" style="color: grey;margin-bottom: 0"><b>Couleur unique</b>  </p>
                                {% else %}
                                <p class="card-text" style="color: grey;margin-bottom: 0"><b>{{chaussure.colors | length }} couleurs</b>  </p>
                                    {% endif %}

                            </div>
                        </a>

                    </div>
                </div>

            {% endfor %}

        </div>

        <div class="pagination" style="justify-content: center;margin-top: 50px;">
            {{ knp_pagination_render(chaussures) }}
        </div>
    </div>


{% endblock %}
{% block container %}

{% endblock %}
