{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% if app.user %}
{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: white">
            <li class="breadcrumb-item"><a style="color: black;text-decoration: none" href="{{ path('cart_index') }}">Votre panier</a></li>
            <li class="breadcrumb-item active" aria-current="page">Choix de l'adresse de facturation</li>
        </ol>
    </nav>
    <h2 style="margin-left: 50px;margin-top: 50px">Choisissez votre adresse de facturation</h2>
    <hr>
    <div class="container" style="max-width: 1600px">
        <form action="{{ path('billing')}}" METHOD="post" >
        <div class="row" style="justify-content: center;margin-top: 150px">
            {% for adresse in app.user.adresses %}
            <div class="col-4">
                <div class="card" style="width:400px;height: 200px;text-align: center">
                    <input style="margin-left: 200px;margin-top: 10px" name="adresse-billing" type="radio" value="{{ adresse.id }}" required>
                    <div class="card-body" style="margin-top: 30px">
                        <h5 class="card-title">{{app.user.nom}} {{ app.user.prenom }}</h5>
                        <p class="card-text">{{ adresse.adresse }}<br>
                            {{ adresse.ville }} {{ adresse.codepostal }}<br>
                            {{ adresse.pays }}, {{ adresse.region }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button style="width: 100px;height: 50px;float: right;background: transparent;color: black;border: none;margin-top: 50px" class="btn btn-dark" type="submit">Suivant <i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
{% endblock %}
 {% endif %}

