{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <table class="table">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show"  style="text-align: center"role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col"><i class="fa fa-user"></i> Nom/prénom</th>
            <th scope="col"><i class="fa fa-envelope"></i> E-mail</th>
            <th scope="col">Rôle</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{user.nom}} {{ user.prenom }}</td>
                <td><b>{{ user.email }}</b></td>
                {% for role in user.roles %}
                    {% if role == "ROLE_USER" %}
                        <td><span class="badge badge-success" style="font-family: Arial">{{ role }}</span></td>
                        {% elseif role == "ROLE_ADMIN" %}
                            <td><span class="badge badge-primary" style="font-family: Arial">{{ role }}</span></td>
                        {% elseif role == "Banned" %}
                            <td><span class="badge badge-danger" style="font-family: Arial">{{ role }}</span></td>
                    {% endif %}
                <td>
                    <a href="{{ path('admin_edit_customer_role', {id : user.id}) }}">Changer</a>
                       </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
