{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible fade show"  style="text-align: center"role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="container">
        <form action="{{ path('admin_stock') }}" method="POST">
            {{ form_start(form) }}

            {{ form_row(form.chaussure,{
                attr: { class: 'form-control'}}) }}
            {{ form_row(form.tailles,{
                attr: {  class: 'form-control'}}) }}
            {{ form_row(form.quantity,{
                attr: {  class: 'form-control'}}) }}

            <br>
            {{ form_row(form.save,{
                attr: {  class: 'btn btn-success'}}) }}

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
