{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col"><i class="fa fa-user"></i> Nom/prénom</th>
            <th scope="col"><i class="fa fa-envelope"></i> E-mail</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{user.nom}} {{ user.prenom }}</td>
                <td><b>{{ user.email }}</b></td>
                <td> <a class="btn btn-primary btn-sm" href="{{ path('admin_customers_detail',{'id' : user.id}) }}">Détails</a>  <a  class="btn btn-danger btn-sm" href="{{ path('admin_remove',{'id' : user.id}) }}"><i class="fa fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
