{% extends 'base.html.twig' %}


{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">N°</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <th scope="row"><p>
                            Commande {{ commande.id }}
                        <small STYLE="float: right">Statut : <b><select>
                                    <option>{{ commande.statut }}</option>
                                    <option>Envoyée</option>
                                </select></b> <button type="submit" style="background: transparent;border: none;color: black" >Valider</button></small></p>
                    <div class="">
                        <div class="card card-body">
                            Statut : {{ commande.statut }}
                            <br>
                            Date de commande : {{ commande.datecommande | date('d-m-Y') }}
                            <br>
                            à : {{ commande.datecommande | date('H:m:s') }}
                            <br>
                            <br>
                            Client : {{ commande.user.nom }} {{ commande.user.prenom }}
                            <br>     {{ commande.adresse.pays }}
                            <br>     {{ commande.adresse.adresse }}
                            <br>     {{ commande.adresse.codePostal }}, {{ commande.adresse.ville }}
                            <br>
                            Article(s) :
                            {% for detail in commande.sneakers %}

                            <div class="media" style="margin-top: 50px">
                                <img class="mr-3" style="width: 64px; height: 64px" src="{{ asset(detail.imageName) }}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">{{detail.titre}}</h5>
                                    {% for taille in commande.tailles %}
                                    <p>Taille : EUR {{ taille.taille }}</p>
                                    {% endfor %}
                                        <p>Prix : {{ detail.prix }} €</p>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                        <p style="float: right">Total payé : {{ commande.total }} €</p>


                    </div>
                </th>
                <td></td>
            </tr>



        {% endfor %}

        </tbody>
    </table>
{% endblock %}
