<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}
</head>

<body STYLE="font-family: 'Staatliches', cursive; letter-spacing: 1px">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ path('chaussures') }}" style="font-family: 'Permanent Marker', cursive;">Sneak'Addict</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>




    {% if app.user %}
        <div class="dropdown">
            <button  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle" style ="color : darkgray; background: transparent;border: none;outline: none;" ><i class="fa fa-user"></i><small style="margin-left: 5px">Mon compte</small></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path(('user')) }}">Paramètres du compte</a>
                <a class="dropdown-item" href="{{ path('user_orders') }}">Mes commandes</a>
                <a class="dropdown-item" href="{{ path('user_avis') }}">Mes avis</a>
                <a class="dropdown-item" href="{{ path('user_favoris') }}">Mes favoris</a>
                <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        </div>
    {% else %}
        <a  class="nav-item nav-link" style ="color : darkgray;"  href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-user"></i></a>
    {% endif %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center" id="exampleModalLongTitle"><b>VOTRE IDENTIFIANT POUR REJOINDRE SNEAK'ADDICT</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('login') }}" method="post">

                        <div class="form-group">
                            <input type="email" class="form-control"  name="_username" id="email" aria-describedby="emailHelp" placeholder="Adresse e-mail">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="_password" id="password" placeholder="Mot de passe">
                        </div>
                        <div class="form-group form-check">
                            <input  type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Rester connecté(e) </label>
                            <a style ="margin-left: 150px; text-decoration: underline; color: grey; font-size: small;" href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>

                        </div>
                        <button style="border : none; background-color: black; margin-left: 80px;width: 322px; height: 40px; margin-top: 40px " type="submit" value="Se connecter" class="btn btn-primary">SE CONNECTER</button>
                        <br>
                        <p style="text-align: center; margin-top: 10px"> Vous n'êtes pas encore membre ? <a style ="text-decoration: underline; color: grey; font-size: small;" href="{{ path('sign-up') }}">Rejoignez-nous !</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a  class="nav-item nav-link" id="cartShop-btn" style ="color : darkgray;" href="{{ path('cart_index') }}"><i class="fa fa-shopping-cart"></i></a>
    <div class="modal" id="modal-cart" tabindex="-1" role="dialog" style="margin-left: 1480px; margin-top: 20px; width: 400px">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mon panier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">

                        <ul class="list-unstyled">


                        </ul>

                    </div>

                </div>
                <div class="modal-footer">
                    <a  href="{{ path('cart_index') }}"> <button style="width:  350px;margin-left: 130px;" class="btn btn-dark">Payer</button></a>
                </div>
            </div>
        </div>
    </div>
    {% if app.user %}
        <a  class="nav-item nav-link" id="cartShop-btn" style ="color : darkgray;" href="{{ path('logout') }}"><i class="fa fa-sign-out"></i></a>
    {% endif %}


</nav>
<hr>
{% block body %}{% endblock %}

<body>
<div class="container-fluid">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <nav class="col-md-2 d-none d-md-block  sidebar" style="margin-top: 20px">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a  style="text-decoration: none; color: black" class="nav-link active" href="{{ path('user') }}">
                            <span data-feather="user"></span>
                            Mon compte <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a style="text-decoration: none; color: black" class="nav-link" href="{{ path('user_orders') }}">
                            <span data-feather="box"></span>
                            Mes commandes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a style="text-decoration: none; color: black" class="nav-link" href="{{ path('user_avis') }}">
                            <span data-feather="edit-2"></span>
                            Mes avis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a style="text-decoration: none; color: black" class="nav-link" href="{{ path('user_favoris') }}">
                            <span data-feather="heart"></span>
                            Mes favoris
                        </a>
                    </li>
                    <li class="nav-item">
                        <a style="text-decoration: none; color: black" class="nav-link" href="{{ path('logout') }}">
                            <span data-feather="log-out"></span>
                            Se déconnecter
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</div>

</body>
{% block javascripts %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#searchbox').on('keyup',function () {
        var query = $(this).val();
        if(query.length > 0) {
            $.ajax({
                type: 'POST',
                url: '/search/chaussures',
                data: {
                    query: query
                },
                success: function (data) {
                    console.log(data);
                    $('#modal-users').html(data).show();
                },
            });
        } else {
            $('#modal-users').hide();
        }
    });

</script>
<script>
    $( function() {
      $( "#tabs" ).tabs();

    } );

    $('#tab-1').on('click',function(e) {
            e.preventDefault();
            $("#tab-2").removeClass("active");
            $("#tab-3").removeClass("active");
        $(this).addClass("active")
        }
    )

    $('#tab-2').on('click',function(e) {
        e.preventDefault();
        $("#tab-1").removeClass("active");
        $("#tab-3").removeClass("active");
        $(this).addClass("active")
        }
    );


    $('#tab-3').on('click',function(e) {
            e.preventDefault();
            $("#tab-1").removeClass("active");
            $("#tab-2").removeClass("active");
            $(this).addClass("active")
        }
    )




</script>


</body>
</html>
