{% extends 'base.user.html.twig' %}

{% block title %}Sneak'Addict - Compte Utilisateur{% endblock %}

{% block body %}

    <body>
    <div class="container-fluid" STYLE="position: absolute">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2 style="margin-bottom: 20px">Votre compte</h2>
            <hr>
            <div id="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a  id="tab-1" class="nav-link active" style="color: black" href="#tabs-1"> <i class="fa fa-cog"></i> Informations personnelles</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-2" style="color: black" class="nav-link" href="#tabs-2"> <i class="fa fa-credit-card"></i> Modes de paiement</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-3" style="color: black" class="nav-link" href="#tabs-3"> Adresses</a>
                    </li>
                </ul>

                <br>
                <div id="tabs-1">
                    <div class="row" style="margin-left: 500px; margin-top: 50px">

                        <div class="col-md-10 col-md-offset-4">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% if app.user %}
                            <div class="col-md-8 order-md-1">
                                <img style="width: 200px;height: 200px;border-radius: 100px;margin-left:150px" src="images/avatar.png">

                                <form action="{{ path('user') }}" method="POST">
                                <h2 style="text-align: center;text-decoration: underline;margin-top: 50px;margin-bottom: 50px">Vos coordonnées</h2>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        {{form_row(form.nom, {'attr': {'class': 'form-control','value' : app.user.nom}})}}
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{form_row(form.prenom, {'attr': {'class': 'form-control','value' : app.user.prenom}})}}
                                        <div class="invalid-feedback">
                                            Valid last name is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    {{form_row(form.email, {'attr': {'class': 'form-control'}})}}
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    {{form_row(form.password, {'label' : 'Mot de passe','attr': {'class': 'form-control', 'value' : app.user.password}})}}
                                </div>
                                <div class="mb-3">
                                        <label for="example-date-input">Date de naissance</label>
                                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="exampleSelect1">SEXE</label>
                                        <select name="sexe" class="form-control" id="exampleSelect1">
                                            <option value="Homme">{{ app.user.sexe }}</option>
                                            <option value="Femme">Femme</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="pointure">Votre pointure</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="inputGroupSelect02">
                                            <option selected>Choissisez..</option>
                                            <option value="1">39</option>
                                            <option value="1">40</option>
                                            <option value="2">41</option>
                                            <option value="3">42</option>
                                            <option value="1">40</option>
                                            <option value="2">41</option>
                                            <option value="3">42</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3" style="margin-left: 200px">
                                    {{form_row(form.valider, {'attr': {'class': 'btn btn-dark'}})}}
                                </div>
                                </form>
                            </div>
                                {% endif %}
                            </div>
                    </div>
                </div>
                <div id="tabs-3">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible fade show"  style="text-align: center" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <h2>Adresses</h2>
                    <br>
                        {% for adresse in app.user.adresses %}
                            <table class="table table-borderless" style="margin-top: 50px">

                                <tbody>
                                <tr>
                                    <th scope="row">
                                        {{ app.user.nom | upper }} {{ app.user.prenom | upper}}
                                        <br>
                                        {{ adresse.adresse | upper}}
                                        <br>
                                        {{adresse.ville}}, {{adresse.region | upper}}
                                        <br>
                                        {{ adresse.pays | upper}}
                                        <br>
                                        0688502106
                                    </th>

                                </tr>
                                <td>
                                    <a href="{{ path('user_update_adress',{'idAdresse' : adresse.id }) }}"><button class="btn btn-dark" style="background: transparent;border-radius: 30px; width: 150px;height: 40px; color: black; margin-top: 35px">Modifier</button></a>
                                    <a href="{{ path('user_remove_adress',{'idAdresse' : adresse.id }) }}"><button class="btn btn-dark" style="background: transparent;border-radius: 30px; width: 150px;height: 40px; color: black; margin-top: 35px">Supprimer</button></a>

                                </td>
                                </tbody>

                            </table>
                            <hr>
                        {% endfor %}
                        <a href="{{ path('user_new_adress') }}"><button class="btn btn-dark" style="margin-left: 550px;background: transparent;border-radius: 30px; width: 300px;height: 40px; color: black ">Ajouter une nouvelle adresse</button></a>
                </div>
                <div id="tabs-2">
                    <table class="table" style="margin-top: 50px">
                        <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td><img alt="mastercard-icon" style="height: 24px" src="https://assets.commerce.nikecloud.com/experience/membership/settings/dist/2.0.16/images/mastercard.png"></td>
                            <td>4242</td>
                            <td>Exp : 12/2020</td>
                            <td><a style="color :black; text-decoration: underline" href="">Supprimer</a></td>

                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-dark" style="margin-left: 600px;background: transparent;border-radius: 30px; width: 150px;height: 40px; color: black ">Nouvelle carte</button>
                </div>
            </div>
        </main>
    </div>
    </body>
{% endblock %}
