{% extends 'base.user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <body>
    <div class="container-fluid" STYLE="position: absolute">
        <div class="" STYLE="">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h2>Paramètres du compte</h2>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: black" href="{{ path('user') }}"> <i class="fa fa-cog"></i> Informations personnelles</a>
                    </li>
                    <li class="nav-item">
                        <a id="mode-paiement" style="color: black" class="nav-link" href="{{ path('user_modes_paiement') }}"> <i class="fa fa-credit-card"></i> Modes de paiement</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" href="{{ path('user_adresses') }}"> Adresses</a>
                    </li>
                </ul>

                <div class="row" style="margin-left: 500px; margin-top: 50px">

                    <div class="col-md-10 col-md-offset-4">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% if app.user %}
                        <div class="col-md-8 order-md-1">
                            <img style="width: 200px;height: 200px;border-radius: 100px;margin-left:150px" src="images/avatar.png">

                            <form action="{{ path('user') }}" method="POST">
                            <h2 style="text-align: center;text-decoration: underline;margin-top: 50px;margin-bottom: 50px">Vos coordonnées</h2>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{form_row(form.nom, {'attr': {'class': 'form-control','value' : app.user.nom}})}}
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{form_row(form.prenom, {'attr': {'class': 'form-control','value' : app.user.prenom}})}}
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                {{form_row(form.email, {'attr': {'class': 'form-control'}})}}
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>
                            <div class="mb-3">
                                {{form_row(form.password, {'label' : 'Mot de passe','attr': {'class': 'form-control', 'value' : app.user.password}})}}
                            </div>
                            <div class="mb-3">
                                    <label for="example-date-input">Date de naissance</label>
                                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="exampleSelect1">SEXE</label>
                                    <select name="sexe" class="form-control" id="exampleSelect1">
                                        <option value="Homme">{{ app.user.sexe }}</option>
                                        <option value="Femme">Femme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="pointure">Votre pointure</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                        <option selected>Choissisez..</option>
                                        <option value="1">39</option>
                                        <option value="1">40</option>
                                        <option value="2">41</option>
                                        <option value="3">42</option>
                                        <option value="1">40</option>
                                        <option value="2">41</option>
                                        <option value="3">42</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3" style="margin-left: 200px">
                                {{form_row(form.valider, {'attr': {'class': 'btn btn-dark'}})}}
                            </div>
                            </form>
                        </div>
                            {% endif %}
                        </div>
                    </div>
                </main>
            </div>
            </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    </body>
{% endblock %}
