{% extends 'base.user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <body>
    <div class="container-fluid" STYLE="position: absolute">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="" STYLE="">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h4 class="mb-3">Ajout d'une nouvelle adresse</h4>
                <hr style="background: black">
                <div class="row" style="margin-left: 400px; margin-top: 50px">
                    <div class="col-md-10 col-md-offset-4">
                        {% if app.user %}
                        <form action="{{ path('user_update_adress', {'idAdresse' : adresse.id}) }}" method="POST">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-8  mb-5">
                                    {{form_row(form.adresse, {'attr': {'class': 'form-control'}})}}
                                </div>
                                <div class="col-md-8  mb-5">
                                    {{form_row(form.pays, {'attr': {'class': 'form-control'}})}}
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>
                                <div class="col-md-8  mb-5">
                                    {{form_row(form.ville, {'attr': {'class': 'form-control'}})}}
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-5 mb-5">
                                    {{form_row(form.region, {'attr': {'class': 'form-control'}})}}

                                </div>
                                <div class="col-md-3 mb-5">
                                    {{form_row(form.codePostal, {'attr': {'class': 'form-control'}})}}

                                </div>
                            </div>
                            <div class="col-md-15 mb-3">
                                {{ form_row(form._token) }}

                                {{form_row(form.valider, {'attr': {'class': 'btn btn-dark', 'style' : 'width : 600px'}})}}
                            </div>
                    </div>
                    {{ form_end(form) }}


                    </form>
                    {% endif %}
                </div>
        </div>

    </div>
    </main>
    </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    </body>
{% endblock %}
